.error404__container {
  text-align: center;
  background-color: #F5EDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:72vh;
}

.error404__img {
  height: 70%;
  width: auto;
  @media (width < 480px) {
    width: 100%;
  }
}
