.zoomPicture {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FF8A00;
  margin: 2rem;
  position:relative;

/* -------- Title --------*/
  &__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  &__reviewsAndAside {
    display: flex;

    flex-direction: column;
    @media (width > 480px) {
      flex-direction: row;
      padding: 0 10rem;
    }

    width: 100%;
  }

  &__reviewsContainer {
    width: 100%;
    @media (width > 480px) {
    width: 75%;
    }
  }

  &__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  &__containerTitle{
    width: 100%;
  }

  &__closePage{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

 
  }


