.zoomPicture {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #FF8A00;
  margin: 2rem;


/* -------- Container Reviews Picture --------*/

&__reviews {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
 
}

&__login {
  font-weight: 700;
  padding-bottom: 0.4rem;
  font-size: 1.4rem;
  background-color: #F58B0E;
  color: white;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}


&__textReviews {
  font-size: 1.1rem;
  border: 2px solid #F58B0E;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;

  @media (width < 500px) {
    width: auto;
    text-align: left;
  }
}

&__containerReviews{
  padding-bottom: 1.5rem;
}

&__moreReviews {
  border: 2px solid #F58B0E;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
  width: 10rem;
  margin: 2rem;
}

& h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
}


