@use '../../../src/styles/vars';

.pictureOfTheWeek {
  text-align: center;
  background-color: #F5EDED;
  padding: 1rem;
  

  &__img {
    width: 50%;

    @media (width > 480px) {
      width: 30%;
    }
    // height: 30%;
    border: 3px solid #F58B0E;
    border-radius: 10px;
    margin-top: 1rem;
  }

  & h2 {
    font-weight: 700;
    font-size : 1.5rem;
  }
}
