@use '../../../../src/styles/vars';


.appHeaderMin {
  position: fixed;
  z-index: 100;
  top: 0;
  // margin : 0 auto;
  height: auto;
  width: 100%;
  padding: .5rem;
  // backdrop-filter: blur(20px);
  background-color: #F5EDED;
  border-bottom: 3px solid #F58B0E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  color: rgb(255, 255, 255);
  font-weight: 700;
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: #F58B0E;
/* 
  .navBar__container__mobile{
  display: none;
}
*/

  // @media (width > 480px) {
  //   height: 20vh;
  // }

  a {
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: #F58B0E;
    font-size: 1.1rem;
  }

  // &__logoNavbar {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }

  &__searchBar {
    // display: flex;
    // flex-direction: column;
    width: vars.$searchBarHeaderWidthMobile;
    // margin-bottom: 1rem;

    @media (width > 480px) {
      width: vars.$searchBarHeaderWidthDesktop;
    }
  }

  &__headerSearch {
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    border: 2px solid #F58B0E;
    opacity: 0.5;
    // margin-bottom: 0.9rem;
  }

  &__logoImg {
    height: 25px;
    width: 25px;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
  }

  &__logoAndTitle {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  .navBar__container__mobile{
    position: absolute;
    right: 0px;
    top: -16px;
    button{
      background-color: white;
    }
    @media (width > 480px) {
      display: none;
    }
   }
}

#appHeaderMin__brand {
  font-family: 'Krona One', sans-serif;
  font-size: 1.2rem;

@media (width < 480px) {
  display: none;
}
@media (width > 480px) {
  font-size: 1.5rem;
}

@media (width >=900px) {
  font-size: 2rem;
}
}



/* 
#appHeaderMin__brand {
  font-family: 'Krona One', sans-serif;
  font-size: 1.2rem;

  @media (width > 480px) {
    font-size: 1.5rem;
  }

  @media (width >=900px) {
    font-size: 2rem;
  }
}
  */

  


