.zoomPicture__zoomAside {
  height: auto;
  width: 80%;
  @media (width > 480px) {
    width: 25%;
    width: 257px;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #FF8A00;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
}

.zoomPicture__zoomTitleAside {
  font-weight: 700;
  padding-bottom: 0.4rem;
  font-size: 1rem;
  color: black;

}

.zoomPicture__zoomContentAside {
  padding-bottom: 1.3rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

.zoomPicture__zoomInfo{
  display: flex;
  font-weight: bold;
  color: #FF8A00;
}

.zoomPicture__reportButton{
  border: 2px solid #F58B0E;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
  width: auto;
  margin: 0.5rem;
  background-color: white;
 
}

.zoomPicture__containerButtonAlert{
  width: 100%;
  text-align: center;
  position: relative;
  

  p {
    font-weight: bold;
  }
}

.zoomPicture__header{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  button{
    width: 100%;
    text-align: right;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }

}
