.navBar__container{
  padding-right: 0.5rem;
  text-align: right;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
  // -webkit-text-stroke: 0.2px;
  // -webkit-text-stroke-color: #ffffff;
  // background-color: rgba(0, 0, 0, .2);
 
 
 
 
 a {
  position: relative;
  // -webkit-text-stroke: .2px;
  // -webkit-text-stroke-color: #ffffff;
 }
 
 
 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(255, 255, 255);
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.2s;
 }
 
 
 a:hover::after,
 a:focus::after{
  transform: scale(1);
 }

 // Menu burger

 .li-close{
  display: none;
 }

 .menu-none{
  display: none;
 }

 .navBar__link {
  @media (width < 480px) {
    display: none;
  }
 }

 span {
  @media (width < 480px) {
    display: none;
  }
 }

 .navBar__container__mobile{
   @media (width > 480px) {
     display: none;
   }
   
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  button{
    background-color: white;
    margin-bottom: 0.2rem;
  }
  
  ul{
    background-color: orange;
    border-radius: 5px;
    padding: 0.1rem;
    font-size: 0.8rem;
    text-align: left;
  }

  li{
    padding: 0.2rem;
  }

}
 }
 